html {
  font: 18px Helvetica;
  color: white;
}

.site-container {
  width: 960px;
  margin: 0px auto;
}

/* Header Section */

header {
  background-color: #000000;
}

#logo {
  display: flex;
  align-items: center;
}

#logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
}

#logo span {
  text-transform: uppercase;
  padding: 0.66rem 1rem;
}

/* Main Banner */

#banner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#banner-overlay {
  position: relative;
  top: 9rem;
  text-transform: uppercase;
  font-weight: bold;
  width: 20rem;
  background-color: #000000;
}

#headline {
  padding: 2rem 3rem;
}

#headline h1 {
  margin-top: 0.25rem;
  font-size: 2rem;
}

/* Navigation Section */

#navigation {
  background-color: firebrick;
}

#navigation .site-container nav {
  padding: 0.75rem 0;
  display: flex;
  justify-content: space-between;
}

#navigation .site-container nav span {
  display: inline-block;
}

#navigation .site-container nav span a {
  color: white;
  text-decoration: none;
}

#navigation .site-container nav span a:hover {

}

/* Product Grid Section */

#product-grid .site-container {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
}

.product-container {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  width: 30%;
}

.product-container .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9rem;
  padding: 2rem;
  overflow: hidden;
}

.product-container .image-container img {
  max-width: 8em;
  height: auto;
  display: block;
}

.product-container span {
  background-color: #000000;
  text-align: center;
  padding: 0.5rem 0;
}

/* Info Section */

#info-section .site-container {
  display: flex;
  justify-content: space-between;
}

.info-container {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.info-container .heading {
  background-color: #000000;
  padding: 1rem 2rem;
}

.info-container .description {
  color: black;
  padding: 0.25rem 0;
}

/* Footer Section */

footer {
  margin-top: 4rem;
  background-color: #000000;
  padding: 5rem 0;
}
